* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .logo {
    max-width: 270px;
    max-height: 270px;
  }
  
  body {
    font-family: "poppins", sans-serif;
    font-weight: 100;
  }

  #menu {
    color: $color;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(255, 217, 0, 0.418);
    list-style: none;
    padding: 0 2rem 0;
    top: 0;
    z-index: 1;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }

  footer {
    font-style: italic;
    font-size: 10px;
    background-image: linear-gradient(90deg, #4baaca 0%, #e99ce3 46%);
    position: fixed;
    bottom: 0%;
    text-align: center;
  }